<div class="col-xs-12 col-lg-6">
  <div class="post-card">
    <div class="photo">
      <% picture = post[:photo] ? post[:photo] : "http://via.placeholder.com/400?text=No+picture!" %>
      <img class="img-rounded" src="<%= picture %>" alt="<%= post[:title] %> ">
    </div>
    <div class="header_and_content">
      <h2 class="post-title"><%= post[:title].downcase.capitalize %></h2>
      <% content = post[:content][0..50] + "...... </br>(read more)" %>
      <p class="post-content"><%= content.capitalize %></p>
    </div>
    <div class="rating">
      <p><i class="fa fa-star"></i><%= rating %></p>
    </div>
  </div>
</div>
