<div id="snap<%= snap.id %>" class="snap">
  <p><%= snap.content %></p>
  <p id="countdown<%= snap.id %>" class="countdown small">Will be deleted in <span class="second"><%= (snap.created_at.to_time + snap.duration - Time.now).round %></span> second(s)</p>
</div>

<script>
  // extract the duration from the database
  var countdown<%= snap.id %> = parseInt(<%= (snap.created_at.to_time + snap.duration - Time.now).round %>);
  // decrement the countdownp<%= snap.id %>
  $(document).ready( function() {
    setInterval(function(){
      if (countdown<%= snap.id %> <= 0){
        $("#snap<%= snap.id %>").fadeIn(400).remove();
      }
      else {
        countdown<%= snap.id %> = countdown<%= snap.id %> - 1 ;
        $("#countdown<%= snap.id %> span.second").html(countdown<%= snap.id %>);
      }
    }, 1000);
  });


</script>
