<% picture = @post.photo ? @post.photo : "http://via.placeholder.com/400?text=No+picture!" %>
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= picture %>) ">
  <h1><%= @post.title %></h1>
</div>

<div class="container">
  <div class="row">
    <div class="text-container" id="post-content">
      <p><%= @post.content %></p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div id="post-comment">
      <% @post.comments.each do |comment| %>
        <%= erb :'partials/_comment', :layout => false, :locals => { :comment => comment }%>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-offset-2 col-xs-2">
      <%= erb :'partials/_modal_comment', :layout => false %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-offset-2 col-xs-2">
      <%= erb :'partials/_modal_snap', :layout => false %>
    </div>
  </div>
  <div class="row">
    <a href="/posts">
      <% link_name = "Return home" %>
      <%= erb :'partials/_button', :layout => false , :locals => { :link_name => link_name }%>
    </a>
  </div>
</div>

<div id="snap_container">
  <% @post.snaps.each do |snap| %>
    <%= erb :"partials/_snap", :layout => false, :locals => {:snap => snap }%>
  <% end %>
</div>
